<%- include('./shared/header.ejs'), {title: "Bienvenue sur mon blog"} %>
<body>

    <div class="container">
        <h1>Bienvenue sur mon blog</h1>
    </div>

    <ul>
        <% for (const post of posts) { %>
            <li><%= post.title %></li>
        <% } %>
    </ul>


    <% if (locals.title) { %>
        <h1><%=title %></h1>
    <% } %>

<%- include('./shared/footer.ejs') %> 

</body>
</html>